.input{

    order: 1px solid #FFF;
        background: transparent;
        border: 1px solid #FFF;
        padding: 20px 140px;
        border-radius: 50px;
        width: 200px;
        color: #FFF;
        font-size: 16px;
        margin-bottom: 10px;
        color: #FFF;
        font-size: 16px;
        


}


.input placeholder {
    color: #FFF;
    font-size: 16px;
}


.Resuldados{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
 
}

.Resuldados p{
    width: 200px;
}


.Resuldados img{ 
    width: 100px;
}
   
.Resuldados hover{
    border: 1px solid white;
}
        
